@model OrderHighLand.Models.VM.ProductCreateVM
@{
	Layout = "_AdminLayout";
}
<section class="section">
	<div class="section-header">
		<h1>Edit Product</h1>
	</div>
	<div class="section-body">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h4>
							Edit
							@if (Model.products != null)
							{
								@Model.products.Name
							}

						</h4>
					</div>
					<div class="card-body">
						<form asp-action="Edit" method="POST" enctype="multipart/form-data">
							<!-- Đổi "Create" thành "Edit" -->
							<div class="form-group">
								<label>Image</label>
								<input type="file" class="form-control" name="image">
								<!-- Hiển thị ảnh hiện tại -->
								<img src="@Url.Content(Model.products.Image)" alt="Current Image" style="width: 100px; height: 100px;">
								<!-- Lưu ảnh cũ trong input hidden -->
								<input type="hidden" asp-for="products.Image" value="@Model.products.Image" />
							</div>
							<input type="hidden" asp-for="products.Id">

							<div class="form-group">
								<label>Name</label>
								<input type="text" class="form-control" asp-for="products.Name">
								<span asp-validation-for="products.Name" class="text-danger"></span>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="inputState">Category</label>
										<select id="inputState" class="form-control main-category" asp-for="products.Cate_Id" asp-items="@Model.categories">
											<option disabled selected>--Select Category--</option>
										</select>
									</div>
								</div>
							</div>
							<button type="submit" class="btn btn-primary">Update</button> <!-- Đổi "Create" thành "Update" -->
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
